html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

body {
    background: #192860;
}

h1, h2, h3 {
    font-family: 'Cuprum', sans-serif;
    margin-top: 0;
    color: #ea252c;
}

a {
    color: #9cca3d;
    text-decoration: none;
}

a:hover {
    color: #f7932f;
}

header {
    background: #ffffff;
    padding: 20px 0;
}

header figure img {
    width: 100%;
    padding: 0 1em;
}

@media all and (min-width: 550px) {
    header figure {
        width: 550px;
        margin: auto;
    }
}

#font-examples {
    margin: 1em;
    padding: 1em;
    background: #ffffff;
}

#button-examples {
    margin: 1em auto;
    max-width: 275px;
}

button {
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    padding: 10px 0;
    background: #9cca3d;
    border: none;
}

button:hover {
    background: #f7932f;
}

#images-examples {
    margin: 1em;
}

#images-examples section {
    width: 100%;
    padding: 1em;
    background: #ffffff;
}

#images-examples section + section {
    margin-top: 1em;
}

#images-examples section img {
    width: 100%;
}

@media all and (min-width: 550px) {
    #images-examples section {
        width: 30%;
        display: inline-block;
        padding: .5em;
    }

    #images-examples section + section {
        margin-top: 0;
        margin-left: 5%;
    }
}

#color-examples {
    margin: 1em;
}

#color-examples section {
    width: 47%;
    padding: .5em;
    background: #ffffff;
    display: inline-block;
    margin-bottom: 1em;
}

#color-examples section img {
    width: 100%;
}

.space {
    margin-right: 6%;
}

@media all and (min-width: 550px) {
    #color-examples section {
        width: 18%;
    }

    .space {
        margin-right: 0;
    }

    #color-examples section + section {
        margin-left: 2.5%;
    }
}

@media all and (min-width: 860px) {
    .float-left {
        float: left;
        width: 60%;
    }

    .float-right {
        float: right;
        width: 35%;
    }
}
