html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

body {
    background: url(../img/blue_background_stars.png);
}

h1, h2, h3 {
    font-family: 'Cuprum', sans-serif;
    margin-top: 0;
}

a {
    color: #9cca3d;
    text-decoration: none;
}

a:hover {
    color: #f7932f;
}

header {
    background: #ffffff;
    padding: 20px 0;
}

header figure img {
    width: 100%;
    padding: 0 1em;
}

@media all and (min-width: 550px) {
    header figure {
        width: 550px;
        margin: auto;
    }
}

#font-examples {
    margin: 1em;
    padding: 1em;
    background: #ffffff;
}
